<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry.Shapes" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry.Algorithms" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry.Topology" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>